<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V6</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Construction</title>
</head>
<body> 
    <div class = "container">
        <h1>Update Customer Contact:</h1>
        <p> Add same information if information has not change</p>
        <form action="GET">
            <br/>
            <label>Customer Contact ID:</label>
            <textarea name="customer_contact_add_id"  cols="10" rows="1"></textarea>
            <br/>
            <label>Customer Company ID:</label>
            <textarea name="customer_add_id"  cols="10" rows="1"></textarea>
            <br/>
            <label>Customer Contact First Name:</label>
            <textarea name="customer_contact_add_fname"  cols="10" rows="1"></textarea>
            <br/>
            <label>Customer Contact Last Name:</label>
            <textarea name="customer_contact_add_lname"  cols="10" rows="1"></textarea>
            <br/>
            <label>Customer Contact Email:</label>
            <textarea name="customer_contact_add_email"  cols="10" rows="1"></textarea>
            <br/>
            <label>Customer Contact Telephone:</label>
            <textarea name="customer_contact_add_tel"  cols="10" rows="1"></textarea>
            <br/>
            <label>Customer Contact Role:</label>
            <textarea name="customer_contact_add_role"  cols="10" rows="1"></textarea>
            <br/>
            <label>Customer Contact Current:</label>
            <textarea name="customer_contact_add_current"  cols="10" rows="1"></textarea>
            <br/>
            <input type="submit" value="Submit"/>
        </form>

 </body>
</html>