<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Construction</title>
</head>
<body>
    <!-- <ul>
    <h1>Employee Permissions</h1>
        {% for item in employee_object_instance %}
            <p>{{item.employee_name_last}}</p>
        {% endfor %}
        </ul>
        <ul>
    <h1>Employee Permissions</h1>
        {% for item in permission_object_instance %}
            <p>{{item.permission_name}}</p>
        {% endfor %}
        </ul> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="http://localhost:8000">Home</a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Employees</h1>
                    {% for item in employee_object_instance %}
                        <p>{{item.employee_name_first}}</p>
                    {% endfor %}
                </div>
                <div class="col">
                    <h1>   Permissions</h1>
                    {% for item in permission_object_instance %}
                        <p>{{item.permission_name}}</p>
                    {% endfor %}
                </div>
                <div class="col">
                    <h1>   Project</h1>
                    {% for item in project_object_instance %}
                        <p>{{item.project_name}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    
</body>
</html>