<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Construction</title>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="">Django Boards</a>
        </div>
    </nav> -->
    <div class="container">
        <h1>Project Information</h1>
        <p>Search for your project information here</p>
        
        <br/>

        <form method="GET">
            <textarea name='project_id' cols="10" rows="1"></textarea>
            <br/>
            <input type="submit" value="Submit"/>
        </form>
        
        <br/>
        {% for item in project_details %}
            <p>
                <label>Project Name: </label>{{item.project_name}}
            <br/> 
                <labe>Project Status: </labe>{{item.project_status}}
            <br/>
                <a class="btn btn-primary my-md-2" href="http://localhost:8000/projectBudget">Project Budget</a>
            <br/>
                <a class="btn btn-primary my-md-2" href="http://localhost:8000/projectInventory">Project Inventory</a>
            <br/>
                <a class="btn btn-primary my-md-2" href="http://localhost:8000/projectEmployees">Project Employees</a>
            </p>
        {% endfor %}
    </div>
</body>
</html>