<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Construction</title>
</head>
<body>
    <div class="container">
        <h1>Project Budgetary Information</h1>
        <div>
            <h2>Full Project Budget</h2>
            {% for item in budgetResults %}
            <label>Project Budget: </label> ${{item.project_budget}}
            {% endfor %}
        </div>

        <div>
            <h2>Purchase Expenditures</h2>
            {% for purchase in purchaseProjectInfo %}
                <ul>
                    <li> Item Name: {{purchase.0}} </li>
                    <li> Purchase Quantity: {{purchase.2}} </li>
                    <li> Purchase Total: ${{purchase.1}} </li>
                    <li> Purchase Date: {{purchase.3}} </li>
                </ul>
            {% endfor %}
        </div>

        <div>
            <h2>Project Employee Costs</h2>
            {% for emp in employeeCostInfo %}
                <ul>
                    <li> Employee Name: {{emp.2}} {{emp.1}}</li>
                    <li> Employee Salary: ${{emp.3}}</li>
                </ul>
            {% endfor %}
        </div>

        <div>
            <p> See only purchase information:</p>
            <a class="btn btn-primary my-md-2" href="http://localhost:8000/projectPurchases">Project Purchases</a>
        </div>
    </div>
</body>
</html>