<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Construction</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="http://localhost:8000/homeII?">Home</a>
        </div>
    </nav>
    <div class="container">
        <form method ="GET">
            <h1>Delete Supplier Company</h1>
            <p>Enter in Supplier Company ID</p>
            <label>Supplier Company ID:</label>
            <textarea name= 'supplier_com_del_id'  cols="10" rows="1"></textarea>  
            <br/>
            <input type="submit" value="Submit" />
            <br/>
        </form>
    </div>
</body>
</html>